<h2>Measured Boot And Remote Attestation</h2>

<p>
  In the previous section, we learned about PCRs and how they efficiently record a sequence of measurements. Now, we will focus on how to get meaningful measurements into the TPM. This is done through a standardized technology called "measured boot", which is supported by modern firmwares and operating systems.
</p>

<h3>Measured Boot</h3>

<p>
  Measured boot is a process where each element in the boot process measures its successor's code and data regions before handing off execution to that element. This ensures the integrity state of the host platform, as a compromised operating system will be detected because a malicious boot element (bootkit/rootkit) is measured before it has a chance to modify the system.
</p>

<p>
  <br>For our discussion we'll simplify the boot process to have only three components:
  firmware &rarr; bootloader &rarr; kernel.
</p>

<p>
  <img src="images/measured_boot.svg" class="img-responsive center-block" style="max-width:70%"
    alt="Measured Boot">
</p>

<p>
The first question that arises when implementing measured boot is who measures the firmware, and how do we trust it? The answer to this is that the firmware measures itself into PCR0. Firmware vendors are expected to publish their "good known" measurements for firmware blobs they distribute, which can be used to verify a good firmware was loaded. Alternatively, an immutable code component called Core Root of Trust for Measurement (CRTM) can be used. It is the first piece of code that executes on the main processor during the boot process and measures the firmware blob before passing execution to it.

</p>

<p>
  The second question that arises is how we interpret the TPM's concise recording of host state, which is stored as a folding hash of all measurements. This is done through PCR numbers and the boot event log. Since we have a limited number of PCRs at our disposal, different things are measured to different PCRs. For instance, the firmware is measured into PCR0, the disk layout is measured into PCR5, and the bootloader is measured into PCR4. This provides a crude way to figure out what component of the system changed during boot.
</p>


<h3>Event Log</h3>

<p>
  The boot event log provides context for measurements, and details each measurement sent to the TPM. It is maintained by the firmware, bootloader, and later the operating system. Users can query the operating system for its boot event log and read what components were measured during boot. A simplified event log might list the firmware blob, bootloader, and kernel image, along with the PCR and digest values for each.
</p>

<p>
  <img src="images/event_log.svg" class="img-responsive center-block" style="max-width:70%"
    alt="Measured Boot With Event Log">
</p>

<p>
  <br>A simplified event log might look like:
  <pre>
    Fimware blob "firmware.bin", PCR8, digest=0x11223344.
    Boot app "/EFI/Windows/Bootloader.efi", PCR8, digest=0x55667788.
    Kernel image "c:\Windows\ntoskrnl.exe", PCR8, digest=0x99AABBCC.</pre>

  <br>To <b>validate</b> the event log's integrity, you should <b>playback</b>  the digests extended into a PCR. Then, read (quote) the actual PCR value from
  the TPM, and compare it with the expected value from the log. If they match,
  the event log's integrity is valid, and therefore, can be trusted.
</p>

<h3>Remote Attestation Protocol</h3>
<p>
  Remote attestation (RA) is a protocol that enables a remote party to verify the integrity of a target host's software and firmware, without requiring any prior trust relationship between the two parties.

The RA protocol works by having the target host send a signed statement called a PCR quote, which contains the current state of the host's Platform Configuration Registers (PCRs). These PCRs contain the hash of all the measurements taken during the boot process, including the firmware, bootloader, and kernel, which are all measured into different PCRs.

The remote party also requests a copy of the host's boot event log, which contains the sequence of measurements taken during the boot process. The remote party can then compare the expected PCR values from the event log to the actual PCR values contained in the PCR quote. If they match, then the remote party can trust that the host's boot process has not been compromised.

The RA protocol can be used to enforce security policies, such as ensuring that only trusted firmware and software is running on the host, or that the host is running the latest version of a particular software component.

An attacker who attempts to compromise the host by modifying the boot process or tampering with the boot event log will be detected by the remote attester, resulting in an untrusted host. However, it is important to note that an attacker can still deny access to the TPM or to the boot event log, resulting in a denial of service attack, which can prevent the RA protocol from being executed, but this denial will result in an untrusted host.
</p>

<p>
  <img src="images/remote_attestation.svg" class="img-responsive center-block" style="max-width:70%"
    alt="Remote Attestation">
</p>