<h2>Authorization</h2>
<p>
  Communication with the TPM device is done over Memory Mapped IO (MMIO): a region
  of physical memory is reserved for sending and receiving data from the TPM. This
  means that any (privileged) code on the host can interact with the TPM. To protect
  against unwanted use, the TPM lets users and administrators set authorization
  policies. With this policy in place, only users with the right authorization
  token can use TPM entities like keys and NV indices.
  <br>The TPM supports many authorization schemes. In this lesson we'll work with
  simple password authorization scheme.
</p>

<h3>Hierarchy Authorization</h3>
<p>
  Go into generic stuff about the all topics in this section
</p>

<h3>Key Authorization</h3>

<h3>Dictionary Attack Protection and Lockout Mode</h3>

<h3>Password Protected Data Blobs</h3>