<h2>Key Certificates and Trust Lab</h2>
<h3>EK Certificate Example</h3>
<p>
  Let's see this in action. First, we'll create the root keys and self-signed certificate on the vendor side:

  <br> {{ macros.code_cell(input="

  // Creates a self-signed root certificate.
  function CreateRootCert(keys) {
    var cert = forge.pki.createCertificate();
    cert.publicKey = keys.publicKey;
    cert.serialNumber = '01';
    cert.validity.notBefore = new Date();
    cert.validity.notAfter = new Date();
    cert.validity.notAfter.setFullYear(cert.validity.notBefore.getFullYear() + 1);
    var attrs = [{
      name: 'commonName',
      value: 'vendor.com'
    }];
    cert.setSubject(attrs);
    cert.setIssuer(attrs);
    cert.setExtensions([{
      name: 'basicConstraints',
      cA: true
    }, {
      name: 'keyUsage',
      keyCertSign: true,
      digitalSignature: true,
      nonRepudiation: true,
      keyEncipherment: true,
      dataEncipherment: true
    }, {
      name: 'subjectAltName',
      altNames: [{
        type: 6, // URI
        value: 'http://vendor.com/webid'
      }, {
        type: 7, // IP
        ip: '127.0.0.1'
      }]
    }, {
      name: 'subjectKeyIdentifier'
    }]);

    // self-sign certificate
    cert.sign(keys.privateKey);

    return cert;
  };

  vendor_root_keys = forge.pki.rsa.generateKeyPair(2048);
  vendor_root_cert = CreateRootCert(vendor_root_keys);

  print('Vendor root cert:', forge.pki.certificateToPem(vendor_root_cert));
  print('OK');
  ")}}
</p>

<p>
  At manufacturing time, the TPM's EK certificate is provisioned and stored on the device:

  <br> {{ macros.code_cell(input="
  // Create primary key endorsement key from the default template.
  var ek = app.CreatePrimaryEndorsementKey();
  assert(ek.rc == TPM2_RC_SUCCESS, 'CreatePrimary failed');
  assert(app.FlushContext(ek.handle) == TPM2_RC_SUCCESS, 'FlushContext failed');

  // Build public key object from key material.
  var bn_n = new forge.jsbn.BigInteger(ek.rsa_public_n.substr(2), 16);
  var bn_e = new forge.jsbn.BigInteger('10001', 16);
  var ek_pub = new forge.pki.setRsaPublicKey(bn_n, bn_e);

  // Build EK certificate.
  var ek_cert = forge.pki.createCertificate();
  ek_cert.publicKey = ek_pub;
  ek_cert.setSubject([{
    name: 'commonName',
    value: 'example.org'
  }]);

  // Sign EK cert with the vendor's root key.
  ek_cert.setIssuer(vendor_root_cert.subject.attributes);
  ek_cert.sign(vendor_root_keys.privateKey);

  // Verify certificate.
  assert(vendor_root_cert.verify(ek_cert) == true, 'Cert verification failed');
  print('EK cert:', forge.pki.certificateToPem(ek_cert));

  // Convert to DER format.
  var der = forge.asn1.toDer(forge.pki.certificateToAsn1(ek_cert));

  // Create NV index for the certificate.
  assert(app.NvDefineSpace(EK_CERT_NV_INDEX, der.length()) == TPM2_RC_SUCCESS, 'NvDefineSpace failed');

  // Store certificate in NV data.
  assert(app.NvWrite(EK_CERT_NV_INDEX, StringToStdVector(der.data)) == TPM2_RC_SUCCESS, 'NvWrite failed');

  print('OK');
  ")}}

  <br> Writing data to NV storage is done with <code>TPM2_CC_NV_DefineSpace</code> and <code>TPM2_CC_NV_Write</code>.
</p>

<p>
  At runtime, the EK certificate is read from the device, and verified against the vendor's root certificate:

  <br> {{ macros.code_cell(input="
  // Create primary key endorsement key from the default template.
  var ek = app.CreatePrimaryEndorsementKey();
  assert(ek.rc == TPM2_RC_SUCCESS, 'CreatePrimary failed');
  assert(app.FlushContext(ek.handle) == TPM2_RC_SUCCESS, 'FlushContext failed');

  // Build public key object from key material.
  var bn_n = new forge.jsbn.BigInteger(ek.rsa_public_n.substr(2), 16);
  var bn_e = new forge.jsbn.BigInteger('10001', 16);
  var ek_pub = new forge.pki.setRsaPublicKey(bn_n, bn_e);

  // Read cert size.
  var public_result = app.NvReadPublic(EK_CERT_NV_INDEX);
  assert(public_result.rc == TPM2_RC_SUCCESS, 'NvReadPublic failed');

  // Read cert buffer.
  var read_result = app.NvRead(EK_CERT_NV_INDEX, public_result.data_size, /*offset*/0);
  assert(read_result.rc == TPM2_RC_SUCCESS, 'NvRead failed');
  var der = ByteArrayToForgeBuffer(read_result.data);
  var ek_cert = forge.pki.certificateFromAsn1(forge.asn1.fromDer(der));
  print('EK cert:', forge.pki.certificateToPem(ek_cert));

  // Verify certificate's public key matches EK.
  assert(_.isEqual(ek_pub.n, ek_cert.publicKey.n), 'Public key does not match');
  assert(_.isEqual(ek_pub.e, ek_cert.publicKey.e), 'Public key does not match');

  // Verify certificate.
  assert(vendor_root_cert.verify(ek_cert) == true, 'Cert verification failed');

  print('OK');
  ")}}

  <br> Reading data from NV storage is done with <code>TPM2_CC_NV_ReadPublic</code> and <code>TPM2_CC_NV_Read</code>.
</p>
