<h2>Importing Keys</h2>
Suppose we want to send a <b>secret</b> to a remote host, and we know only its
TPM's endorsement key. Recall that the EK is a <b>restricted</b> encryption key,
so we cannot simply call upon it.
<br>To accomplish this we <b>seal</b> the secret to a new key object, and send
this (encrypted, authenticated) object to the TPM. 

<h3>Key Import Scheme</h3>
<p>
    The scheme consists of two stages. In the first stage, the sender builds a keyed-hash
    object, and protects it with two keys (one for encryption, one for integrity)
    derived from a randomly generated seed. The sender sends the wrapped seed encrypted
    by the TPM's EK public key, the encrypted keyed-hash private part with its
    hmac tag and the keyed-hash public part.
</p>

<p>
  <img src="images/key_import.svg" class="img-responsive center-block" style="max-width:70%"
    alt="Key Import">
</p>

<p>
    In the second stage, <b>(more of an overview here)</b>
</p>

<h4>Computing Import Blob</h4>

<h4>Loading Import Blob</h4>
