<h2>Ownership, SRK and AIK</h2>

<p>
  The EK protects keys on the endorsement hierarchy. It is trusted thanks to its
  certificate. Keys on the owner hierarchy, however, cannot be trusted because
  they're not protected by the EK.
  <br>It is the owner's responsibility to provision and certify the primary encryption
  key on the owner hierarchy (here, "owner" refers to the end-user of the TPM -
  us).

  <br> The Storage Rook Key (SRK), is a primary, <b>restricted encryption key</b>  on the owner hierarchy, derived from the oseed. The SRK protects keys on the
  owner hierarchy. It is trusted because the owner certified the key while when
  ownership.

  <br> As we'll see later, having a trusted, <b>restricted signing key</b> is useful
  for remote system attestation. It's, therefore, recommended to create and certify
  a restricted signing key during provisioning time. This trusted signing key is
  also called Attestation Identity Key (AIK).
</p>

<h2>Taking Ownership</h2>
<p>
  More generic overview of ownership
</p>
