<h2>PCRs</h2>

<p>
  Platform Configuration Registers (PCRs) are a set of fixed-sized registers in
  the TPM. Unlike regular registers, PCR values cannot be set to arbitrary values.
  The only operation they support (besides Read), is <b>Extend</b>.

  <br>Thanks to extend cryptographic properties, PCR values cannot be forged. For
  this reason, PCRs are used to efficiently <b>capture</b> the host <b>system state</b>: a
  digest of a sequence of measurements is securely stored in the TPM's PCRs.
</p>

<h3>Extend Semantics</h3>
<p>
  PCRs start with an initial, well known value, usually zero. Extend takes as input
  a digest <var>M</var>, and computes the hash of the current PCR value, concatenated
  with the input value. The result is stored in the PCR. This is called a <b>folding-hash</b>.

  <br>
  <div class="panel panel-default">
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>On startup:</dt>
        <dd><var>PCR</var> &larr; 0</dd>
        <dt>On extend:</dt>
        <dd><var>PCR</var> &larr; Hash(<var>PCR</var> || <var>M</var>)</dd>
      </dl>
    </div>
  </div>

  <br> Hash is a collision resistant cryptographic hash function. A PCR stores
  a digest of a sequence of measurements. Therefore, PCR extend operation is sensitive
  to any change in the sequence: if a single bit changes, or the order of the measurements
  changes, the end result is a completely different hash value.
</p>

<!--Go into more details about quotes-->
<h3>Reading PCR Values</h3>
<p>
  <div class="alert alert-warning" role="alert">There's one TPM command you should definitely <b>not</b> use: <code>TPM2_CC_PCR_Read</code>.
    <br>The reason: it returns PCR values, but with no security guarantees. An attacker
    can MITM your communication with the TPM, and forge arbitrary TPM2_CC_PCR_Read
    responses.
  </div>

  <br> The correct way to read PCR values is through <b>quotes</b>. A quote is a signed
  statement from the TPM, attesting to its internal state. Use <code>TPM2_CC_Quote</code>  to read fresh PCR values.
  We are going to use the AIK, our trusted signing key, to sign the PCR quote.

  <br> This shows how the first TPM functionality - performing secure crypto operations -
  complements its second functionality - reporting host system state.
</p>

<p>
  <img src="images/complement_1.svg" class="img-responsive center-block" style="max-width:70%"
    alt="Quote Operation">
</p>

<p>
  <div class="alert alert-info" role="alert"><code>TPM2_CC_Quote</code> also takes a nonce as input. It's important to use
    a random nonce for each quote operation. This ensures the quote reports fresh
    PCR values, and protects against replay attacks.
  </div>
</p>
