<h2>PCRs</h2>

<p>
  Platform Configuration Registers (PCRs) are one of the most important features of the TPM. They are a collection of registers that can store a digest of measurements of the system's configuration. The measurements are usually taken at specific points during the boot process or after critical system events. These measurements can include BIOS version, firmware, boot loader, and kernel version, among others. By storing these measurements in PCRs, the TPM can provide an immutable record of the system's state.
</p>

<h3>Extend Semantics</h3>
<p>
  The PCR starts with an initial value, usually zero, and is updated by performing an "extend" operation. The extend operation takes a digest of the current PCR value, concatenated with the input measurement, and computes a hash of the concatenation. The resulting hash is then stored in the PCR. This process is called a folding-hash, and it ensures that any change in the sequence of measurements, including a single bit flip or a change in the order of the measurements, results in a completely different PCR value.

  <br>
  <div class="panel panel-default">
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>On startup:</dt>
        <dd><var>PCR</var> &larr; 0</dd>
        <dt>On extend:</dt>
        <dd><var>PCR</var> &larr; Hash(<var>PCR</var> || <var>M</var>)</dd>
      </dl>
    </div>
  </div>

  <br> Hash is a collision resistant cryptographic hash function. A PCR stores
  a digest of a sequence of measurements. Therefore, PCR extend operation is sensitive
  to any change in the sequence: if a single bit changes, or the order of the measurements
  changes, the end result is a completely different hash value.
</p>

<!--Go into more details about quotes-->
<h3>Reading PCR Values</h3>
<p>
  To read the PCR values, we use a signed statement from the TPM called a quote. The quote is signed by a trusted key, usually the AIK. The quote contains information about any number of PCRs, including a digest of the PCR values and the PCR index of those values. By verifying the signature, we can trust that the PCR values have not been tampered with and that they accurately reflect the system's configuration.

  The combination of PCRs and quotes allows the TPM to perform system measurements that can be used in a variety of use-cases, with two most common being secure boot and remote attestation. The use of PCRs and quotes is a fundamental aspect of the TPM's security architecture and is essential for ensuring the trustworthiness of the system.
  
</p>

<p>
  <img src="images/complement_1.svg" class="img-responsive center-block" style="max-width:70%"
    alt="Quote Operation">
</p>