<h2>Sealing Data and Keys</h2>

In this lesson we'll see how the TPM can seal secrets (data blobs or cryptographic
keys) to the host system state as captured in its PCR values. We'll introduce a
new concept - session authorization - which naturally extends concepts from the
previous lesson on authorization.

<h3>Session Authorization</h3>
<p>
A session is an internal TPM object that encodes an authorization value.
Until now we've been implicitly using the <code>TPM2_RS_PW</code> session handle to
authorize commands with either an empty or a user defined password.
</p>

<h4>Trial Session</h4>
<p>
  More generic/deep overview of trial sessions (This one is difficult to understand)
</p>
<p>
Calculating the authPolicy digest using a trial session is summarized in the following diagram:
</p>

<p>
  <img src="images/trial_session.svg" class="img-responsive center-block" style="max-width:90%"
    alt="Trial Session">
</p>
<p>
  <div class="alert alert-info" role="alert">A trial session doesn't include any secrets, it's, therefore, possible
    to compute the expected authPolicy digest offline, without a TPM. </div>
</p>

<h4>Policy Session</h4>
<p>
  Session info here (Again, this is some difficult stuff, gonna need deep detail)
</p>

<p>
Policy session with good (expected) PCR values:
</p>

<p>
  <img src="images/policy_session_good.svg" class="img-responsive center-block" style="max-width:90%"
    alt="Trial Session">
</p>

<p>
Policy session with bad (unexpected) PCR values:
</p>
<p>
  <img src="images/policy_session_bad.svg" class="img-responsive center-block" style="max-width:90%"
    alt="Trial Session">
</p>

<h3>Sealing Keys</h3>
<p>
  Previously we saw how keys protect PCR reports, now we'll see how PCRs protect
  keys. The two main functionalities provided by the TPM complement each other:
</p>

<p>
  <img src="images/complement_2.svg" class="img-responsive center-block" style="max-width:70%"
    alt="Seal Operation">
</p>

<p>
  Key sealing info here
</p>

<h3>Protecting Keys With A Sealed Password</h3>
<p>
  A common practice is to protect keys with a randomly generated password, then seal that
  password data blob to PCR values. This scheme has the advantage of having an easy, password less
  access to the key when the host is in a good know state. Additionally, by storing the password
  offline, the user has a recovery solution: access to the key is always granted when the password
  is entered manually.
</p>
