<h2>Sealing Data and Keys</h2>

In this lesson we'll see how the TPM can seal secrets (data blobs or cryptographic
keys) to the host system state as captured in its PCR values. We'll introduce a
new concept - session authorization - which naturally extends concepts from the
previous lesson on authorization.

<h3>Session Authorization</h3>
<p>
  A session is an object of TPM. It is normally used to hold a digest, or a small, 
  fixed value of data derived from user defined PCR values. This happens in two 
  steps known as Sealing and Unsealing:
</p>

<h4>Trial Session</h4>
<p>
  First, a trial session is generated to be fed expected PCR values. These PCR values 
  are stored as a digest within the session object. This sealing portion provides an 
  authorization policy we can add to an object. It will require that access to the 
  object is only provided once the expected environment is met, which feeds onto the 
  second half of the process
</p>
<p>
Calculating the authPolicy digest using a trial session is summarized in the following diagram:
</p>

<p>
  <img src="images/trial_session.svg" class="img-responsive center-block" style="max-width:90%"
    alt="Trial Session">
</p>
<p>
  <div class="alert alert-info" role="alert">A trial session doesn't include any secrets, it's, therefore, possible
    to compute the expected authPolicy digest offline, without a TPM. </div>
</p>

<h4>Policy Session</h4>
<p>
  Unsealing is where we determine that we have a safe, expected environment, the security 
  guarantee provided by TPM. To accomplish this, we create a new session called the policy 
  session. This will read the PCR values to generate a digest, and if the PCR values are the 
  what is expected, then we should generate the same digest as the trial session. If the 
  digest matches, also known as matching session policies, then we can safely give access to
  the sealed data.
</p>

<p>
Policy session with good (expected) PCR values:
</p>

<p>
  <img src="images/policy_session_good.svg" class="img-responsive center-block" style="max-width:90%"
    alt="Trial Session">
</p>

<p>
Policy session with bad (unexpected) PCR values:
</p>
<p>
  <img src="images/policy_session_bad.svg" class="img-responsive center-block" style="max-width:90%"
    alt="Trial Session">
</p>