<h2>Welcome</h2>
<p>TPM-JS is a browser learning environment to teach about the Trusted Platform Module (TPM). It is broken up into a series of modules of either learning or labs. 
  All modules are accessible on the left side of the screen, or navigable by clicking the <Next> or <Previous> button at the bottom of each page.
  <ul>
    <li>Intel <a href="https://github.com/tpm2-software/tpm2-tss">TPM2 Software Stack (TSS)</a>.</li>
    <li>IBM <a href="https://sourceforge.net/projects/ibmswtpm2/">software TPM simulator</a>.</li>
    <li>Google <a href="https://boringssl.googlesource.com/boringssl">BoringSSL</a>.</li>
  </ul>
</p>

<p>In this site we'll learn how TPMs work. We'll see how to use the TPM as a cryptographic device. 
  We'll cover topics such as key generation, measured boot, PCRs, remote attestation and key sealing
</p>

<p>Table of Contents:
  <ul>
    <li>>Introduction</li>
    <li>>Key Generation</li>
    <li>>Certificates</li>
    <li>>Ownership, SRK and AIK</li>
    <li>>PCRs</li>
    <li>>Attestation</li>
    <li>>Authorization</li>
    <li>>Sealing</li>
  </ul>
</p>
